.android {
    width: 300px;
    position: relative;
    right: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.android-face {
    width: 150px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 150px 150px 0 0;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.android-eye {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 20px;
    align-self: center;
    background-color: white;
}

.android-hl {
    width: 25px;
    height: 115px;
    background-color: chartreuse;
}

.android-lhand {
    position: relative;
    right: 100px;
    top: 324px;
    border-radius: 15px;
}

.android-rhand {
    position: relative;
    left: 100px;
    top: 210px;
    border-radius: 15px;
}

.android-legs {
    display: flex;
    flex-direction: row;
}

.android-lleg {
    position: relative;
    bottom: 67px;
    right: 25px;
    border-radius: 15px;
}

.android-rleg {
    position: relative;
    left: 20px;
    bottom: 67px;
    border-radius: 15px;
}

/*
transition : => ease (Same Speed) , ease-in (Starting will be slow. Ending will be fast) , ease-in-out (Starting will be slow, middle will be fast), ease-out (Starting will be fast, ending will be slow)
*/

.android-body {
    width: 150px;
    height: 150px;
    border-radius: 0 0 25px 25px;
    background-color: chartreuse;
}

/* ANIMATIONS */

.android:hover .android-eye {
    animation:  normalColor 1s 0s infinite;
    background: rgba(236,19,65,0.8);
    box-shadow: 0px 0px 15px 0px rgba(236,19,65,1);
}

@keyframes changeEyeColor {
    0% {
        background: rgba(255,0,0,0.8);
        box-shadow: 0px 0px 15px 0px rgba(255,0,0,1);
    }

    33% {
        background: rgba(0,255,0,0.8);
        box-shadow: 0px 0px 15px 0px rgba(0,255,0,1);
    }

    67% {
        background: rgba(0,0,255,0.8);
        box-shadow: 0px 0px 15px 0px rgba(0,0,255,1);
    }

    100% {
        background: rgba(255,255,0,0.8);
        box-shadow: 0px 0px 15px 0px rgba(255,255,0,1);
    }
}

.android:hover .android-face {
    animation: changeEyeColor 4s 0s 2,rotateHead 2s 0s infinite;
    animation-direction: alternate;
}

.android:hover .android-lhand {
    animation: changeEyeColor 4s 0s 2,   leftToRight 1s 0s infinite;
    animation-direction: alternate;
}

.android:hover .android-rhand {
    animation: changeEyeColor 4s 0s 2,  rightToLeft 1s 0s infinite;
    animation-direction: alternate;
}

.android:hover .android-lleg {
    height: 100px;
    animation: changeEyeColor 4s 0s 2,legLTR 1s 0s infinite;
    animation-direction: alternate;
}

.android:hover .android-rleg {
    height: 100px;
    animation: changeEyeColor 4s 0s 2,legRTL 1s 0s infinite;
    animation-direction: alternate;
}

@keyframes normalColor {
    0% {
        background-color: white;
    } 
    100% {
        background-color: white;
    }
}

@keyframes rotateHead {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}

@keyframes legLTR {
    0% {
        transform-origin: top center;
        transform: rotate(90deg);
        bottom: 10px;
    }
    100% {
        transform-origin: top center;
        transform: rotate(0deg);
        height: 115px;
    }
}


.android:hover .android-body {
    animation: changeEyeColor 4s 0s 2,rotateHead 2s 0s infinite;
    animation-direction: alternate;
}

@keyframes legRTL {
    0% {
        transform-origin: top center;
        transform: rotate(-90deg);
        bottom: 10px;
    } 
    100% {
        transform-origin: top center;
        transform: rotate(0deg);
        height: 115px;
    }
}


@keyframes rightToLeft {
    0% {
        transform-origin: top center;
        transform: rotate(-180deg);
    }

    100% {
        transform-origin: top center;
        transform: rotate(0deg);
    }
}
/* */
@keyframes leftToRight {
    0% {
        transform-origin: top center;
        transform: rotate(0deg);
    }

    100% {
        transform-origin: top center;
        transform: rotate(180deg);
    }
    
}

/* ANIMATIONS */
body {
    background-color: black;
    display: flex;
    justify-content: center;

}

.title {
    font-family: 'Patua One', serif;
    font-size: 50px;
    color: #ef8308;
    text-align: center;
    position: relative;
    top: 70px;
    left: 130px;
}

